<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mini-Wp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="./components/vueWysiwyg.js"></script> -->
    
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v3.2"></script>
    <div id="app">
        <eka-nav>
            <template v-if="isLogout">
                <button type="button" class="btn btn-info" @click="logout">Logout</button>
            </template> 
        </eka-nav>
        
            <form-register v-if="isLogin && location == 'register'" @submit-register="register"></form-register>
        
        
            <template v-if="isLogin && location == 'login'">
                <form-login @submit-login="login" @ke-form-register="onClickRegister">
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                </form-login>
            </template>
        
        <div class="isi" v-if="isLogout">
            <div class="row">
                <div class="col-2">
                    <ul class="item">
                        <li><a href="#" id="samping"><i class="fas fa-desktop"> </i></a> View Site</li>
                        <li><a href="#" id="samping"><i class="far fa-chart-bar"> </i></a> Stats</li>
                        <li><a href="#" id="samping"><i class="fas fa-undo-alt"></i></a> Activity</li>
                        <li><a href="#" id="samping"><i class="fas fa-globe-asia"></i></a> Plan</li>
                    </ul>
                    <ul class="item">
                        Manage
                        <br>
                        <li><a href="#" id="samping"><i class="fas fa-file-alt"> </i></a> Site Pages</li>
                        <li><a href="#" id="samping"><i class="fas fa-align-left"> </i></a> Blog Posts</li>
                        <li><a href="#" id="samping"><i class="fas fa-image"> </i></a> Media</li>
                        <li><a href="#" id="samping"><i class="fas fa-comments"> </i></a> Comments</li>
                        <li><a href="#" id="samping"><i class="fas fa-shapes"> </i></a> Feedback</li>
                        <li><a href="#" id="samping"><i class="fas fa-plug"> </i></a> Plugins</li>
                        <li><a href="#" id="samping"><i class="fas fa-cloud-upload-alt"> </i></a> Import</li>
                    </ul>
                </div>
                <div class="col-10" id="coba">
                    <div class="bebas">
                        <span><a href="#" id="pub" @click="onClickList">Published <i class="far fa-circle"></i></a></span>
                        <span><a href="#" id="text" @click="onClickAdd">Add Content <i class="far fa-circle"></i></a></span>
                        <span><a href="#" id="search"><i class="fas fa-search"></i></a></span>
                    </div>
                    <br><br>
                    <div v-if="seenAdd" id="add-content">
                        <form @submit.prevent="addArticles" >
                            <input class="form-control" v-model="title" type="text" name="title" placeholder="Title">
                            <br>
                            <!-- <textarea class="form-control" v-model="content" type="text" name="content" placeholder="Content"></textarea> -->
                            <wysiwyg v-model="myHTML" @import "~vue-wysiwyg/dist/vueWysiwyg.css"/>
                            <br>
                            <button style="float:right" class="btn btn-info" type="submit">Submit</button>
                            <br>
                        </form>
                    </div>
                    <div v-if="seenUpdate" id="update-content">
                        <form @submit.prevent="updated" >
                            <input class="form-control" v-model="title_update" type="text" name="title" placeholder="Title">
                            <br>
                            <textarea class="form-control" v-model="content_update" type="text" name="content" placeholder="Content"></textarea>
                            <br>
                            <button style="float:right" class="btn btn-info" type="submit" >Submit</button>
                        </form>
                    </div>
                    <br><br>
                    <template v-if="seenList">
                        <div v-for="(article, index) in articles" class="main-article">
                            <p>Ini Title : {{ article.title }}</p>
                            <p>Contentnya nihh : <br> {{ article.content }}</p>
                            <br>
                            <div style="float:right"><a href="#" @click="update(article._id)" class="col-sm-3"><i class="fas fa-pencil-alt"></i></a><a href="#" @click="onClickDelete(index, article._id)" ><i class="fas fa-trash-alt"></i></a></div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>

    
    
    <script src="components/form-login.js"></script>
    <script src="components/add-content.js"></script>
    <script src="components/row.js"></script>
    <script src="components/navbar.js"></script>
    <script src="components/register.js"></script>
    <script src="./main.js"></script>

    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
            } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
            }
        }
        
        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
            });
        }
        
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '{your-app-id}',
            cookie     : true,  // enable cookies to allow the server to access 
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : '{api-version}' // The Graph API version to use for the call
            });
        
            // Now that we've initialized the JavaScript SDK, we call 
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.
        
            FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
            });
        
        };
        
        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v3.2&appId=376300233209423&autoLogAppEvents=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        
        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>


    
    <div id="status">
    </div>
        
</body>

</html>
